@import "tailwindcss";
@import "swiper/css";

:root {
  /* Color Variables */
  --primary: #60e1cb;
  --secondary: #7bc0e3;
  --dark: #292525;
  --light: #ffffff;

  --primary-light-15: color-mix(in srgb, var(--primary) 15%, var(--light));
  --primary-light-60: color-mix(in srgb, var(--primary) 60%, var(--light));

  /* Shadow Variables */
  --shadow-primary: 0px 46px 52px 0px #60e1cb8f;
  --shadow-primary-dark: 0px 46px 52px 0px #36b8a2;
  --shadow-lg: 0px 97px 90px 0px #07003b1f;
  --shadow-md: 0px 56px 60px -14px #0d0f451a;
  --shadow-sm: 0px 32px 41px 0px #00000021;

  /* Font Variables */
  --font-dm-sans: "DM Sans", sans-serif;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-dark: var(--dark);
  --color-light: var(--light);
  --color-primary-light-15: var(--primary-light-15);
  --color-primary-light-60: var(--primary-light-60);

  --shadow-primary: var(--shadow-primary);
  --shadow-primary-dark: var(--shadow-primary-dark);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow-sm: var(--shadow-sm);

  --font-dm-sans: var(--font-dm-sans);

  --breakpoint-xs: 480px;
}

@layer base {
  body {
    @apply bg-light text-dark font-dm-sans selection:text-dark/80 selection:bg-primary-light-60 text-sm font-medium lg:text-base;
  }
  main {
    @apply min-h-screen pt-16 md:pt-17 lg:pt-23.5;
  }
  section,
  footer {
    @apply py-12 lg:py-20;
  }

  .container {
    @apply mx-auto px-3 lg:px-6;
  }
  img {
    @apply block h-full w-full object-cover;
  }

  /* Text */
  h1 {
    @apply text-3xl font-black tracking-[-1.5%] sm:text-4xl md:text-5xl lg:text-[58px]/[113%];
  }
  h2 {
    @apply text-2xl font-bold sm:text-3xl md:text-4xl lg:text-5xl/[113%];
  }
  h3 {
    @apply text-lg font-bold lg:text-xl;
  }
  h4 {
    @apply text-base font-bold lg:text-[19px];
  }
  .title-description {
    @apply text-base font-normal lg:text-[20px]/[157%];
  }
  p {
    @apply text-sm lg:text-base;
  }
}
