@import "tailwindcss";

:root {
  /* Color Variables */
  --primary: #60e1cb;
  --secondary: #7bc0e3;
  --dark: #292525;
  --light: #ffffff;

  /* Font Variables */
  --font-dm-sans: "DM Sans", sans-serif;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-dark: var(--dark);
  --color-light: var(--light);
  --font-dm-sans: var(--font-dm-sans);
  --breakpoint-xs: 480px;
}

@layer base {
  body {
    @apply bg-light text-dark font-dm-sans text-sm font-medium lg:text-base;
  }
  main {
    @apply min-h-screen pt-14 sm:pt-16 lg:pt-18;
  }
  section,
  footer {
    @apply py-12 lg:py-20;
  }

  .container {
    @apply mx-auto px-3 lg:px-6;
  }
  img {
    @apply block h-full max-w-full object-cover;
  }

  /* Text */
  h1 {
    @apply text-5xl font-black tracking-[-1.5%] lg:text-[58px]/[113%];
  }
  h2 {
    @apply text-4xl font-bold lg:text-5xl/[113%];
  }
  h3 {
    @apply text-lg font-bold lg:text-xl;
  }
  h4 {
    @apply text-base font-bold lg:text-[19px];
  }
  .title-description {
    @apply text-base font-normal lg:text-[20px]/[157%];
  }
  p {
    @apply text-sm lg:text-base;
  }
}
